body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header, .footer, .banner{
    background-color: #1F2937;
    color: #F9FAF8;
}

.header, .footer, .banner, .content1, .content2, .content3 {
    padding-left: 25%;
    padding-right:25%;
}


.header {
    font-size: 24px;
    font-weight: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    display: flex;
    gap: 20px;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;
}

.banner-left {
    width:400px;
    flex-shrink: 0;
}

.banner-left h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.banner-left h1, .banner-left p, .banner-left button {
    margin: 5px;
}

.banner-left p, .header a, .footer{
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 100;
}

.banner-right {
    width: 400px;
    height: 200px;
    flex-shrink: 0;
    background-color: grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.placeholder {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.logo h4 {
    padding: 0;
    margin: 0;
}

img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo img {
    height: 50px;
    width: auto;
    box-shadow: 0 0 0 0;
    border-radius: 0;
}  
.header a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

.content1 .gallery {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}
   
.content1 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

.content1 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
 
}

p {
    font-size: 18px;
    color: #1F2937;
}

.content2 {
    background-color: #E5E7EB;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 30%;
    padding-right:30%;
}

.author {
    text-align: right;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author {
    font-size: 18px;
    font-weight: 700;
    color: #1F2937;
}

.call-to-action, .signup {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
}

.cta-left{
    font-size: 24px;
}

.call-to-action p {
    color: #F9FAF8;
    margin: 0;
}

.call-to-action h3 {
    margin: 0px;
    margin-bottom: 5px;
}

.signup {
    border-radius: 10px;
    padding: 5px 20px 5px 20px;
    border: 2px solid white;
}

.call-to-action {
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    gap: 80px;
    align-items: center;
    padding-top:50px;
    padding-bottom: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
